table{
	width: 90%;
	margin: 0 auto;
	border: 1px solid #000;
	border-collapse: collapse;
}
.table-border tr > th, .table-border tr > td{
	border: 1px solid #000;
}
.bg-green{
	background-color: #00DD00;
}
.input-control{
	width: 98%;
	margin: 0 auto;
	background-color: #FFF;
}
.input-control:disabled{
	background-color: #ddd;
}
.angka{
	text-align: right;
}
.input-with-hapus{
	width: calc(98% - 27px) !important;
	width: -moz-calc(98% - 27px) !important;
	width: -webkit-calc(98% - 27px) !important;
	width: -o-calc(98% - 27px) !important;
}
.tombol_hapus{
	position: relative;
	background: #DD1111;
	color: #FFF;
	border: none;
}